:root {
	--color-primario: #2b193d;
	--color-secundario: #2c365e;
	--color-terciario: #484d6d;
	--color-cuaternario: #4b8f8c;
	--color-quinto: #c5979d;
	--color-texto: #cdcdcd;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.typeOfError {
	display: flex;
	justify-content: center;
	width: 100%;
	background: black;
}
.typeOfError img {
	width: 42%;
}
.titulo {
	height: 60px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 3px;
	background: var(--color-terciario);
	color: var(--color-texto);
}
