.grid-container {
	margin: 0 auto;
	padding: 10px;
	min-height: 485px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 80px;
	row-gap: 50px;
	background: var(--color-secundario);
}

/*#16161d*/
