.container-section {
	min-height: 100vh;
	padding-top: 50px;
	background: var(--color-secundario);
	color: var(--color-texto);
}
.container-compra {
	font-family: Arial, sans-serif;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	row-gap: 30px;
	column-gap: 10px;
}
.heading {
	background: var(--color-cuaternario);
	width: 50%;
	height: 100px;
	margin-bottom: 50px;
	letter-spacing: 5px;
	border-radius: 10px;
}

.section {
	height: 250px;
	width: 800px;
	display: flex;
}

.subheading {
	background: var(--color-terciario);
	padding: 20px;
	height: 100%;
	width: 30%;
	font-size: 1.3em;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.text {
	padding: 50px;
	height: 100%;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list li {
	list-style: none;
}
.list li::before {
	content: "=> ";
}

.qrImage {
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.qrImage img {
	height: 100%;
}
