.container-compra {
	min-height: 100vh;
	padding: 20px;
	font-family: Arial, sans-serif;
	background: var(--color-secundario);
	color: var(--color-texto);
}

.heading {
	background: var(--color-cuaternario);
	width: 50%;
	margin-bottom: 50px;
	height: 100px;
	letter-spacing: 5px;
	border-radius: 10px;
}

.section {
	height: 150px;
}
.section:nth-child(6) {
	height: 300px;
}
.section:nth-child(7) {
	height: 600px;
}

.subheading {
	background: var(--color-terciario);
	font-size: 20px;
	width: 20%;
	height: 50px;
	border-radius: 10px;
}

.text {
	align-items: center;
	height: 75px;
	font-size: 1.1em;
	line-height: 1.5;
}

.list li {
	list-style: none;
	margin-block: 5px;
	padding-left: 50px;
}
.list li::before {
	content: "=> ";
}

.qrImage {
	width: 200px;
	height: 200px;
}
