.card {
	height: 400px;
	width: 250px;
	padding-top: 15px;
	border-radius: 10px;
}
.img-contenedor {
	height: 40%;
	width: 100%;
	display: flex;
}
.img-contenedor img {
	border-radius: 5px;
	width: 75%;
	aspect-ratio: 1/1;
	margin: 0 auto;
}
.card-body {
	height: 60%;
	width: 100%;
	margin: 0 auto;
}
.card-body h5 {
	height: 35%;
	width: 100%;
	text-align: center;
	margin: 0;
}
.card-body p {
	height: 10%;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.3em;
	color: black;
}
.divCompra {
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.agregarAlCarrito {
	height: 50%;
	width: 100%;
}
.selectorCantidad {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	width: 60%;
}
.selectorCantidad button {
	font-size: 2em;
	height: 100%;
	background: none;
}
.divCompra div {
	display: flex;
	align-items: center;
}
.divCompra p {
	height: 100%;
	font-size: 1.5em;
	color: black;
}
.agregarAlCarrito button {
	width: 100%;
	height: 80%;
}
