.container-producto {
	min-height: 750px;
	background: var(--color-secundario);
	color: var(--color-texto);
}
.detalleProducto {
	background: var(--color-terciario);
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.detalleProducto h2,
h3 {
	height: 75px;
}
.detalleProducto img {
	border-radius: 50%;
	margin: 0 auto;
	height: 300px;
	width: 300px;
}
.detalleProducto h3 {
	letter-spacing: 3px;
}
.detalleProducto p {
	font-size: 1.5em;
}
.container-producto a {
	text-decoration: none;
}
