nav {
	height: 125px;
	width: 100%;
	font-size: 1.2em;
	background: var(--color-primario);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 2000;
	transition: 0.5s ease-in-out;
}
nav a:hover {
	transition: 0.5s ease-in-out;
	scale: 1.2;
}
.containerNav {
	height: 50%;
	width: 75%;
	display: flex;
	justify-content: space-between;
}
.pages {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.imgIco {
	height: 50px;
}
.cuadroBusqueda {
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cuadroBusqueda input {
	padding-left: 10px;
	width: 90%;
	border-radius: 5px;
}
.cuadroBusqueda button {
	background: none;
	margin: 0;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}
.cuadroBusqueda button:hover {
	transition: 0.3s ease-in-out;
	background: white;
}
.categorias {
	height: 50%;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
nav a {
	text-decoration: none;
	color: var(--color-texto);
}
