.container-img {
	margin: 0 auto;
	height: 350px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: var(--color-cuaternario);
}
.container-img a img {
	height: 250px;
	width: 250px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	filter: opacity(100%);
	transition: 0.3s ease;
}

.container-img img:hover {
	scale: 1.1;
}
