main {
	background: var(--color-secundario);
	min-height: 100%;
}
.container-img {
	height: 350px;
	width: 90%;
	border-radius: 10px;
	background: var(--color-cuaternario);
}
.container-img a {
	text-decoration: none;
	color: var(--color-texto);
}
.container-img a img {
	height: 250px;
	width: 250px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	filter: opacity(100%);
	transition: 0.3s ease;
}
.container-img img:hover {
	scale: 1.1;
}
.productosMasVendidos {
	width: 90%;
	height: 450px;
	border-radius: 10px;
	background: var(--color-terciario);
}
.suscribe {
	height: 200px;
	width: 100%;
	margin-top: 100px;
	background: none;
}
.suscribe div {
	height: 50%;
	width: 50%;
	background: var(--color-cuaternario);
}
.suscribe h3 {
	color: var(--color-texto);
}
.suscribe img {
	height: 200px;
	position: relative;
	bottom: 50px;
}
.suscribe input {
	width: 50%;
	margin-right: 10px;
	border-radius: 10px;
	padding-left: 10px;
}
