.carro {
	display: flex;
	margin-top: 5px;
	align-items: center;
	gap: 5px;
	height: 100%;
	color: var(--color-texto);
}
.carro p {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 500;
	background: var(--color-texto);
	color: #16161d;
}
.sombra {
	background: rgba(0, 0, 0, 0.336);
	height: 1000px;
	width: 400vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}
.compra {
	min-height: 900px;
	width: 30%;
	border-radius: 5px;
	position: absolute;
	right: 5px;
	top: 5px;
	display: flex;
	flex-direction: column;
	z-index: 3000;
	background: var(--color-texto);
	border: 1px solid black;
}
.closeBar {
	padding-right: 10px;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.finalizarCompra {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
}
.finalizarCompra button {
	height: 75%;
	width: 200px;
	border-radius: 5px;
}
.listaS {
	height: auto;
	width: 100%;
	padding: 0;
}
.listaS li {
	list-style: none;
	height: 10%;
	width: 100%;
	color: black;
}
.listaS li button {
	height: 30px;
	width: 30px;
	font-size: 0.8em;
}
.listaS li p {
	height: 100%;
	text-align: left;
	color: black;
}
.listaS li:nth-child(2n) {
	background: var(--color-terciario);
	color: var(--color-texto);
}
